<section class="events">
  <h2 class="events__title">Viðburðir á næstunni</h2>
  <ul class="events__list">
    <% for (const event of events) { %>
      <li class="events__event">
        <a href="/<%= event.slug %>" class="events__eventLink"><%= event.name %></a>
        <p class="events__event__description"><%= event.description %></p>
        <br>
        <p class="events__event__location">Staðsetning: <%= event.location %></p>
        <% if (typeof authentication !== 'undefined' && authentication) { %>
          <p><a href="/admin/<%= event.slug %>" class="events__eventEdit">Uppfæra viðburð</a>
          <p><a href="/admin/<%= event.slug %>/delete/<%= event.id %>" class="events__eventDelete">Fjarlægja viðburð</a>
        <% } %>
      </li>
    <% } %>
  </ul>

  <div class ="pagination">
    <ul class="pagination__ul">
      <% if (current > 1) { %>
        <li><a href ="/<%= (current - 1) %>">Fyrri </a></li>
        <% for (let i = 1; i <= pages; i++) { %>
          <li><a href="/<%= i %>"><%= i %> </a></li>
        <% } %>
      <% } %>
      <% if (current < pages) { %>
        <li><a href ="/<%= Number(current) + 1 %>">Næsta</a></li>
      <% } %>
    </ul>
  </div>

</section>

